*:focus {
    outline: none;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-text) !important;
}

.mainWrapper {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.rouletteBoard td {
  height: 70px;
}

.rouletteBoard,
.rouletteBoard tr,
.rouletteBoard td {
  border-collapse: collapse;
}

.rouletteBoard td {
  border: 1px solid var(--dark-text);
}

.redField {
  background-color: red;
}

.blackField {
  background-color: black;
}

.greenField {
  background-color: rgb(2, 78, 2);
}

.roE {
  border: none !important;
}

.roF {
  font-size: 20px;
  display: flex;
  align-items: start;
  justify-content: end;
  height: 100%;
  padding: 5px;
  cursor: pointer;
}

@-moz-document url-prefix() {
    #roF-0 {
      height: 330% !important;
    }
}

.roNF {
  width: 70px;
  height: 70px;
}

.roF.success {
    background-color: #ADD8E6;
}

.roNF, .roRF {
    position: relative;
    overflow: hidden;
}

.roRF {
  width: 140px;
}

.betDisplay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.betDisplay.losing {
    text-decoration: line-through 1px solid white;
}

.betDisplay.winning {
    color: var(--dark-btn-hvr);
}

.slider {
    -webkit-appearance: none;
  width: 30vw;
  height: 15px;
  margin-top: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

@media only screen and (max-width: 481px) {
  .slider {
      width: 100% !important;
  }

  .mainWrapper {
    width: 100vw;
    overflow-x: scroll;
    display: block;
  }

  .roF {
    width: 70px !important;
  }

  #roF-h1, #roF-h2, #roF-ue, #roF-ev, #roF-red, #roF-black {
    width: 140px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1400px) {
    .slider {
        width: 50dvw !important;
    }
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--dark-bg-scnd);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--dark-bg-scnd);
  cursor: pointer;
}

.bidButtons button {
    background-color: #6B6B6B;
    color: white;
    border: none;
    width: 22%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 2%;
    cursor: pointer;
}

#bidDisplay {
    margin-top: 5px;
    text-align: right;
}

.finishBid, .bidButtons {
    text-align: right;
}

.finishBid button {
    border: none;
    width: 22%;
    padding: 15px;
    margin-top: 50px;
    margin-right: 2%;
    background-color: var(--dark-btn);
    color: var(--dark-btn-text);
}

.finishBid button:hover {
    cursor: pointer;
    background-color: var(--dark-btn-hvr);
}

#cancel {
    background-color: lightgray !important;
}

#cancel:hover {
    background-color: rgb(167, 167, 167) !important;
}

.allBidsDone {
    text-align: center;
    margin-top: 50px;
}

.allBidsDone button {
    border: none;
    text-transform: uppercase;
    font-size: 30px;
    background-color: var(--dark-btn);
    color: var(--dark-btn-text);
    padding: 20px;
}

.allBidsDone button:hover {
    cursor: pointer;
    background-color: var(--dark-btn-hvr);
}

.allBidsDone button:disabled {
    background-color: gray;
}

#bidDisplayInput  {
    border: none;
    background: none;
    padding: 5px;
    color: black !important;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
