# ───── APP CONFIGURATION ─────
# Valid values are: development, production
APP_ENV=development
APP_BASE_URL=http://localhost
APP_PORT=8080
APP_URL=${APP_BASE_URL}:${APP_PORT}

# ───── DATABASE CONFIGURATION ─────
# DO NOT CHANGE the following lines if running with docker
SQL_HOST=mysql
SQL_PORT=3306
SQL_DB=weGambleDB
# Change these values for improved security
SQL_USER=your-db-user
SQL_PASSWORD=your-db-password
SQL_ROOT_PASSWORD=root

# ───── WEBSOCKET CONFIGURATION ─────
WS_BASE_URL=ws://localhost
WS_PORT=8443
WS_URL=${WS_BASE_URL}:${WS_PORT}
WS_ENABLE_SSL=0

# ───── SSL CERTIFICATE PATHS ─────
# Needed are SSL_CERT_PATH and SSL_KEY_PATH if WS_ENABLE_SSL=1
#SSL_DOMAIN=your-domain.com
#SSL_CERT_PATH=/etc/letsencrypt/live/${SSL_DOMAIN}/fullchain.pem
#SSL_KEY_PATH=/etc/letsencrypt/live/${SSL_DOMAIN}/privkey.pem