body {
    background-color: var(--dark-bg);
    color: var(--dark-text) !important;
}

.gameSelector {
    margin-top: 40px;
    display: flex;
    padding: 30px;
}

@media only screen and (max-width: 481px) {
    .gameSelector {
        flex-direction: column;
    }

    .gameCard {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .gameCard {
        width: 35% !important;
    }
}

.gameCard {
    width: 25%;
    height: 300px;
    border: 1px solid var(--dark-text);
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
}

.bgImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.bgImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gc-Overlay {
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
}

.gameName {
    font-size: 40px;
    margin-bottom: 10px;
}

.gameButtonWrapper {
    margin-top: 10px;
    text-align: center;
}

.gameButtonWrapper button {
    border: none;
    background-color: var(--dark-btn);
    padding: 15px;
    font-size: 18px;
    color: var(--dark-btn-text)
}

.gameButtonWrapper button:hover {
    background-color: var(--dark-btn-hvr);
    cursor: pointer;
}