body {
    background-color: var(--dark-bg);
    color: var(--dark-text) !important;
}

.gameSelector {
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
    justify-content: start;
}

@media only screen and (max-width: 481px) {
    .gameSelector {
        flex-direction: column;
    }

    .gameCard {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .gameCard {
        width: 35% !important;
    }
}

.gameCard {
    width: 23%;
    height: 300px;
    border: 1px solid var(--dark-text);
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 30px;
}

.bgImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.bgImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gc-Overlay {
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
}

.gameName {
    font-size: 40px;
    margin-bottom: 10px;
}

.gameButtonWrapper {
    margin-top: 10px;
    text-align: center;
}

.gameButtonWrapper button {
    border: none;
    background-color: var(--dark-btn);
    padding: 15px;
    font-size: 18px;
    color: var(--dark-btn-text)
}

.gameButtonWrapper button:hover {
    background-color: var(--dark-btn-hvr);
    cursor: pointer;
}

.dailyLoginWrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* zentriert das Element auf der Seite */
    padding: 10px;
    box-sizing: border-box;
}

.loginStreakDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: var(--dark-btn-hvr);
    border-radius: 10px;
    color: var(--dark-btn-text);
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap; /* sorgt dafür, dass es auf kleinen Bildschirmen umbrechen kann */
    margin-top: 50px;
    margin-bottom: 20px;
}

.loginStreakDisplay-left {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 8px;
    flex: 1 1 auto; /* passt sich flexibel an */
    min-width: 200px;
}

.loginStreakDisplay-left i {
    font-size: 22px;
}

.loginStreakDisplay-right {
    flex-shrink: 0;
}

.loginStreakDisplay-right button {
    background-color: white;
    color: var(--dark-btn-click);
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.loginStreakDisplay-right button:hover {
    background-color: #ffe6e6;
}
